@import url(https://fonts.googleapis.com/css?family=Quicksand:300);

$bg-color-red: #ff5f6d;
$bg-color-orange: #ffc371;

html,
:root,
body {
  background: $bg-color-red; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $bg-color-red,
    $bg-color-orange
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $bg-color-red,
    $bg-color-orange
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Quicksand", sans-serif;
}
